/* Utilities & Globals */

.container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Helvetica';
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2,
h4 {
    margin: 0;
}

hr {
    width: 50%
}

.add-to-favorites {
    margin: 0;
}

/*  Header */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.favorites a {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.favorites a:hover {
    transform: scale(1.1);
}

.hero {
    margin: 50px 0;
}

/*  Product List */
.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    flex: 1 1 250px;
    margin: 10px;
    background-color: #ececec;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.1);
}

.product-card img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/*  Footer */

footer {
    text-align: center;
    padding: 50px 0;
}

/*  Recipe Details */

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.recipe p {
    margin: 0;
}

.recipe img {
    min-width: 350px;
    width: 65%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.recipe h2 {
    margin-bottom: 50px;
}

.recipe .information-area {
    width: 90%;
    margin-top: 50px;
}

.recipe h4 {
    margin: 50px 0 -35px 0;
    text-align: left;
}

.recipe .ingredients,
.recipe .steps {
    max-width: 100%;
    margin: 50px 0;
    text-align: left;
}

.recipe .ingredients li,
.recipe .steps li {
    margin-top: 15px;
}

.add-to-favorites {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background-color: #000;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.add-to-favorites:hover {
    transform: scale(1.05);
}

/* Favorites */

.favorites-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.favorites-main .product-card {
    max-width: 50%;
}

.favorites-main h1 {
    margin-bottom: 35px;
}

.button-area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #d0d0d0;
    transform: translateY(0);
}


/* Media Queries */
@media (max-width: 1200px) {
    .recipe img {
        width: 85%;
    }

    .add-to-favorites {
        width: 250px;
        padding: 15px 30px;
    }

    .favorites svg {
        width: 50px;
        height: auto;
    }

    .hero h1,
    .favorites-main h1 {
        font-size: 35px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .logo {
        width: 200px;
    }
}

@media (max-width: 655px) {
    .favorites-main .product-card {
        max-width: 100%;
    }

    .favorites-main .product-card:not(:last-child) {
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    .recipe img {
        width: 95%;
    }

    .recipe .information-area {
        width: 100%;
    }

    .add-to-favorites {
        width: 90%;
    }

    .favorites svg {
        width: 45px;
        height: auto;
    }

    .hero h1,
    .favorites-main h1 {
        font-size: 27px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .logo {
        width: 150px;
    }
}